<mat-toolbar class="mat-toolbar">
    <a class="a" *ngIf="currentContact" [routerLink]="['/contacts/details',currentContact.id]">
        <span class='glyphicon'></span>פרטים
    </a>
    <a class="a" *ngIf="currentContact" [routerLink]="['/contacts/projects',currentContact.id]">
        <span class='glyphicon'></span>פרויקטים

    </a>
    <a class="a" *ngIf="currentContact" [routerLink]="['/contacts/followup',currentContact.id]">
        <span class='glyphicon'></span>תעוד
    </a>
</mat-toolbar>
<div>
    <router-outlet></router-outlet>
</div>

