form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .input{
      margin-right: 50%;
      margin-top: 50%;
  }
.row{
     margin-top: 5%;

}
  .list-group{
    padding-right: 0px;
  }
.input-group{
  margin-right: 20px;
  direction: rtl;
}