<!--<div class="row">
   <div dir="rtl" class="input-group col-md-10">
        <div class="input-field">
                <input  type="text"  mdInput placeholder="בחר איש קשר" class="validate filter-input"  [(ngModel)]=query (keyup)=filter()>
        </div>
        <div class="suggestions" *ngIf="filteredList.length > 0">
            <ul *ngFor="let item of filteredList" class="list-group">
                 <li class="list-group-item">
                      <a (click)="select(item)">{{item.fullName}}</a>
                 </li>
            </ul>
        </div>
    </div>
  </div>
  
  <div class='row'>
    <div class='col-md-10'>
        <contact [currentContact]="selectedContact"> </contact>
    </div>
  </div>
</div> -->

<div class='row'>

  <div class='col-md-9'>
    <project [currentProject]="selectedProject"> </project>
  </div>
  <div class='col-md-3'>
    

      <mat-input-container>
        <input type="text" matInput placeholder="בחר פרויקט" [matAutocomplete]="auto" [formControl]="projectCtrl" [(ngModel)]="selectedProject">
      </mat-input-container>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProject">
        <mat-option *ngFor="let item of filteredProjects  | async" [value]="item" (onSelectionChange)="selectContact(item.id)">
          {{item.name}}
        </mat-option>
      </mat-autocomplete>
      <br>
      <br>
      <br>
      <br>
      <br>
      <span class="btn-group">
                    <!-- <div class="container">
                        <button class="btn btn-default" (click)=showConfirm()>Show confirm</button>
                    </div> -->
        <button md-button class="btn btn-primary" (click)="showEditDialog()">ערוך</button>
        <button md-button class="btn btn-primary" (click)="deleteDonor()">מחק</button>
        <button md-button class="btn btn-primary" (click)="showAddDialog()">הוסף</button>
       </span>


  </div>
</div>