<mat-toolbar>

    <b>איילת השחר - לוגו</b>
    <div *ngIf="!isLogin">
        <button  md-button class="btn btn-primary" (click)="login()">כניסה למשתמש רשום</button>
    </div>
    <div *ngIf="isLogin">
        <button style="text-align:right" (click)="logOut()">צא {{user?.userName}}</button> 
    </div>
    <!-- <div >
        <button [hidden]="!isLogin"style="text-align:right" (click)="logOut()">צא {{user?.userName}}</button>
    </div>  -->

    <mat-toolbar-row color="black">
        <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
        <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-cloud'></span> אודותינו
                    </a>
        <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-cloud'></span> צור קשר
                    </a>
        <a [hidden]="!isLogin" [routerLink]="['/contacts']">
                        <span class='glyphicon glyphicon-cloud'></span> אנשי קשר
                   </a>
        <a [hidden]="!isLogin" [routerLink]="['/projects']">
                        <span class='glyphicon glyphicon-cloud'></span> פרויקטים
                   </a>

    </mat-toolbar-row>
</mat-toolbar>