<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">הוסף פרויקט חדש</h4>
        </div>
        <div class="modal-body">
            <input class="form-control" type="text" [(ngModel)]="project.name" placeholder="שם ">
            <input class="form-control" type="date" [(ngModel)]="project.date" placeholder="תאריך">
            <input class="form-control" type="text" [(ngModel)]="project.details" placeholder=" פרטים נוספים">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm()">שמור</button>
            <button type="button" class="btn btn-default" (click)="cancel()">בטל</button>
        </div>
    </div>
</div>